---
import { Dashboard } from "../components/dashboard/Dashboard";
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icon/TaskGoblin.png" />
    <link rel="icon" href="/icon/TaskGoblin.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Task Goblin</title>
    <meta
      name="description"
      content="Task Goblin es una aplicación que te ayuda a automatizar tareas en Mac y Windows. Desde mover el ratón, enviar mensajes de WhatsApp, convertir PDFs, extraer colores y más."
    />
  </head>
  <body class="antialiased font-sans bg-black">
    <Dashboard client:load />
  </body>
</html>
